* {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding-bottom: 75px;
  margin-top: 25px;
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  height: 60px;
  border-top: black 5px solid;
  border-bottom: black 5px solid;
  width: 100%;
  background-color: #123456;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__h1 {
  height: 125px;
  border-top: black 5px solid;
  border-bottom: black 5px solid;
  width: 100%;
  font-size: 5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  background-color: #123456;
  text-align: center;
  margin: auto;
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 1px 0 10px;
}

.menu__item {
  width: 120px;
  height: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 40px;
}

.menu__itemLong {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 120px;
  height: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 70%;
  margin: 15px;
  position: relative;
  height: 250px;
  background-color: #4863a0;
  color: white;
  margin: 0 0 25px 0;
}

.card__question {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px 0;
}

.card__answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 25px 0;
}

.answer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  height: 30px;
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin: 15px 0;
}

.card__answer--hide {
  color: #4863a0;
}

.card__bookmark {
  height: 60px;
  width: 55px;
  position: absolute;
  right: 15px;
  top: -15px;
  cursor: pointer;
  background: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card__tags {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
}

.tags__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 25px;
  width: 75px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.tags__tag--hidden {
  visibility: hidden;
}

.menu__active {
  background-color: #95b9c7;
  color: black;
  text-decoration: underline;
}

a:link,
a:visited {
  background-color: #4863a0;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #95b9c7;
  text-decoration: underline;
}
