header {
  width: 100%;
  text-align: center;
  background-color: red;
  border: black 10px solid;
  left: 0;
  right: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

footer {
  height: 100px;
  border-top: black 10px solid;
  border-bottom: black 10px solid;
  width: 100%;
  background-color: red;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.card {
  border: black 10px solid;
  width: 80%;
  margin: 15px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}

li {
  width: 10em;
  height: 10em;
}
