* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  height: 125px;
  border: black 10px solid;
  width: 100%;
  font-size: 5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  background-color: #123456;
  text-align: center;
  margin: auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding-bottom: 75px;
}

footer {
  height: 50px;
  border: black 10px solid;
  width: 100%;
  background-color: #123456;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.card {
  border: black 10px solid;
  width: 70%;
  margin: 15px;
  position: relative;
  text-align: center;
  height: 200px;
}

.card h2 {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card-bookmark {
  height: 50px;
  width: 25px;
  position: absolute;
  right: 20px;
  top: -25px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 1px 0 10px;
}

li {
  width: 10em;
  height: 10em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a:link,
a:visited {
  background-color: #4863a0;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #95b9c7;
  text-decoration: underline;
}

.active-page {
  background-color: #95b9c7;
  text-decoration: underline;
}
