header {
  width: 100%;
  _position: fixed;
  text-align: center;
  background-color: red;
  border: black 10px solid;
}

footer {
  width: 100%;
  _position: fixed;
  text-align: center;
  background-color: red;
  border: black 10px solid;
}

.card {
  border: black 10px solid;
}
